<h1>Burgers</h1>
<hr>
<div class="undevoured">
  <h2>Burgers To Be Devoured</h2>
  <hr>
<p></p>
  {{#each burger}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}

</div>

<div class="devoured">
  <h2>Burgers You've Eaten</h2>
  <hr>
  {{#each burger}}
    {{#if devoured}}
      {{> burgers/devoured-block devoured=true}}
    {{/if}}
  {{/each}}

</div>

<div class="addBurger">
  <hr>
	<h2>Add a Burger</h2>
	<form class="create-form">

	  <div class="form-group">
	    <label for="ca">Burger Name:</label>
	    <input type="text" id="burger" name="name">
	  </div>

	  <button type="submit">Add Burger</button>
	</form>
</div>
