ul {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

body {
	text-align: center;
	background: #07575B;
	color: #C4DFE6;
}

.devoured, .undevoured {
	float: left;
	display: table;
	width: 50%;
	background: #003B46;
	height: auto;

}

.burgs {
	background: #66A5AD;
	color: #003B46;
	font-size: 20px;
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.addBurger {
	clear: both;
}